Package: com.swing.gamesky
Name: GameSkyNoAds-Rootless
Version: 0.0.1
Architecture: iphoneos-arm
Description: 游民星空App(基于v6.23.10开发)去广告插件，如果失效请联系WeChat：420408858
Maintainer: SWING
Author: SWING
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
